@font-face {
    font-family: messapia;
    src: url(Fonts/messapia-regular-webfont.woff);
}

@font-face {
    font-family: messapia;
    src: url(Fonts/messapia-bold-webfont.woff);
    font-weight: bold;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: white;
}

/* home page */

.homepage {
    display: flex;
}


.homepage h1 {
    font-family: 'messapia';
    font-size: 80px;
    font-weight: bold;
    vertical-align: middle;
}
@media screen and (max-width: 994px) {
    .homepage .name {
        padding-top: 200px;
        text-align: center;
        margin: none;
        z-index: 2;
        padding-bottom: 20px;
    }
    .homepage h1 {
        font-family: 'messapia';
        font-size: 50px;
        font-weight: bold;
        vertical-align: middle;
    }
/*
    .homepage img {
        display: none;
        /*
        width: 100%;
        height: auto;
        vertical-align: middle;
        margin: none;
        top: 10%;
        position: fixed;
        z-index: 1;
        opacity: 50%;
        
    }
   */ 
}

@media screen and (min-width: 994px) {
    .homepage .name {
        display: inline-block;
        width: 250px;
        height: 700px;
        padding: 10px;
        padding-top: 260px;
        text-align: right;
        margin: none;
    }

    .homepage img {
        width: 100%;
        width: 100%;
        min-width: 700px;
        height: auto;
        padding-top: 50px;
        height: auto;
        vertical-align: middle;
        margin: none;
        text-align: left;
        position: relative;
        left: -100px;
    }

}


.homepage h2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: none;
    vertical-align: middle;
}

.homepage .portrait {
    text-align: left;
    margin: none;
}


 @media screen and (max-width: 994px) {
    .homepage {
        padding-bottom: 100px;
    }
    .homepage .portrait {
        display: none;
    }
 }

/*
.homepage img:hover {
    transform: rotate(0.015turn);
}
*/

.homepage button {
    font-family: 'messapia';
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #DBE7E4;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
}
/* nav bar */

nav {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 75px;
    z-index: 1;
}

nav img {
    height: 100px;
    width: 110px;
    padding: 20px;
    padding-left: 30px;
}

ul {
    float: right;
    margin-right: 30px;
    padding-top: 20px;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: regular;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    transition: 0.1s; 
}

ul li a:hover {
    font-weight: bold;
    color: #c78b8f;
    text-decoration: none;
}


@media screen and (max-width: 466px) {
    nav ul {
        display: none;
    }
}

/* social bar */

.social-bar {
    position: fixed;
    top: 35%;
    right: 0;
    background-color: #FDE2E4;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 2;
}

.social-bar a {
    display: block;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
    color: #f0b7bb;
}

.social-bar a:hover {
    color: #c78b8f;
}

/* about */
    .about {
        width: 70%;
        height: auto;
        background-color:#FDE2E4;
        margin-left: 5%;
        margin-bottom: 60px;
        padding: 20px;
        border-radius: 20px;
        z-index: 1;
        position: relative;
    }
    .about h2 {
        font-family: 'messapia';
        font-weight: bold;
    }
    
    .about .mantra{
        font-weight: bold;
    }
    

/*
    .practice {
        width: 72%;
        height: 230px;
        margin-bottom: 60px;
        position: absolute;
        background-color: transparent;
        z-index: 2;
        top: 105%;
        left: 6%;
    }
    */
    .about img {
        position: absolute;
        right: -30px;
        bottom: -15px;
        height: 100px;
        width: auto;
    }


/* currently */
.currently {
    width: 70%;
    height: auto;
    background-color:#DBE7E4;
    margin-left: 24%;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 20px;
    align-content: flex-end;
    position: relative;
    z-index: 1;
}
.currently h2 {
    font-family: 'messapia';
    font-weight: bold;
}

.currently .currently-title {
    font-weight: bold;
}

.currently .currently-left {
    text-align: left;
}

.currently .currently-right {
    text-align: right;
}

.currently .currently-title:link {
    color: #5f867c;
}

.currently .currently-title:visited {
    color: #44615a;
}

.currently img {
    position: absolute;
    left: -30px;
    bottom: -15px;
    height: 100px;
    width: auto;
}
@media screen and (max-width: 994px) {
    .about {
        width: 70%;
        height: auto;
        background-color:#FDE2E4;
        margin-left: 15%;
        margin-bottom: 60px;
        padding: 20px;
        border-radius: 20px;
        z-index: 1;
        position: relative;
    }
    
    .projects {
        width: 70%;
        height: auto;
        background-color:#FDE2E4;
        margin-left: 15%;
        margin-bottom: 60px;
        padding: 20px;
        border-radius: 20px;
        z-index: 1;
        position: relative;
    }

    .currently {
        width: 70%;
        height: auto;
        background-color:#DBE7E4;
        margin-left: 15%;
        margin-bottom: 60px;
        padding: 20px;
        border-radius: 20px;
        align-content: flex-end;
        position: relative;
        z-index: 1;
    }

}

/* about */
.projects {
    width: 70%;
    height: auto;
    background-color:#FDE2E4;
    margin-left: 5%;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}
.projects h2 {
    font-family: 'messapia';
    font-weight: bold;
}

.projects img {
    position: absolute;
    right: -30px;
    bottom: -15px;
    height: 100px;
    width: auto;
}

.meet-me {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.meet-me a:link {
    color: #c78b8f;
}

.meet-me a:visited {
    color: #c78b8f;
}
